
footer{
border-radius:6px;
background-color:silver;
}

.contact{
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    }
.contact   li {
    list-style-type: none; /* Убираем маркеры */
   }
    
 #sp
 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
 }